<div id="<%= dom_id high_score %>">
  <p>
    <strong>Game:</strong>
    <%= link_to high_score.game, high_score %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= high_score.score %>
  </p>

</div>
<hr/>
